@value icons_css: "../../icons.css";
@value flex_css: "../../flex.css";
@value layout_css: "../layout/layout.css";
@value buttons_css: "../../buttons.css";

@value anchor: #446;
@value iconTransition: color 0.2s ease-in;
@value borderWidth: 3px;

@value sm, md, lg from "../../shared.css";
@value pad from layout_css;
@value color_draft, color_scheduled, color_published, color_unpublished from "../content-edit/form.css";

.contentHd {
    composes: head from layout_css;
    composes: lightSep from layout_css;
}

.contentBd {
    composes: body from layout_css;
    composes: contentWidth from layout_css;

    min-width: 600px;
}

/* Meta layout */
.search,
.pages,
.showingResults {
    flex: 0 0 60%;

    @media screen and (max-width: lg) {
        flex: 0 0 50%;
    }
}

.pages,
.showingResults {
    @media screen and (max-width: lg) {
        font-size: 14px;
    }
}

.manage,
.sort {
    flex: 0 0 40%;
    text-align: right;

    @media screen and (max-width: lg) {
        flex: 0 0 50%;
    }
}

/* Metadata controls */
.search {
    position: relative;
    margin-bottom: 1em;
}

.searchInput {
    width: 100%;
    padding: 5px;
}

.searchClear {
    position: absolute;
    right: 0;

    width: 32px;
    height: 32px;
    padding: 0;
    margin: 0;

    background: none;
    border: none;
}

.searchClear::after {
    content: "+";

    display: inline-block;
    font-size: 28px;
    transform: rotate(45deg);
}

.itemsPerLabel {
    padding-left: 20px;
}

.itemsPer {
    max-width: 100px;
}

.metas {
    composes: hbox from flex_css;
    composes: global(pure-form);

    flex-wrap: wrap;
    padding-bottom: pad;
}

.pages {
    text-align: left;

    @media screen and (max-width: lg) {
        font-size: 14px;
    }
}

.pages *:not(:first-child) {
    margin-left: 20px;
}

.nextPage {
    composes: secondary from buttons_css;

    text-align: right;
}

.prevPage {
    composes: secondary from buttons_css;
}

.currPage {
    vertical-align: middle;
    font-size: 18px;
}

.add {
    composes: add from buttons_css;
}

.edit {
    composes: primary from buttons_css;
}

.entriesContainer {
    composes: lightSepTop from layout_css;

    width: 100%;
    margin: 0 auto;
}

.table {
    width: 100%;
    margin: 0 0 4em;
}

.col {
    padding: 0.5em pad;
    max-width: 0; /* needed for ellipsis overflow on <td> */

    text-align: center;
}

.colName {
    composes: col;

    width: 40%;
    text-align: left;
}

.colStatus {
    composes: col;

    width: 16%;
    text-align: left;
}

.colDate {
    composes: col;

    width: 16%;
}

.colActions {
    composes: col;

    width: 12%;
    text-align: right;
}

.row {
    cursor: pointer;
    border-bottom: solid 1px #CCC;

    transition: background-color 0.1s ease-in;
}

.row:nth-child(even) {
    background: rgba(0, 0, 0, 0.025);
}

.row:hover {
    background: #DFDFDF;
}

.tableHeader {
    font-size: 1.1em;

    border-bottom: solid 1px #AAA;
    background: rgba(0, 0, 0, 0.025);
}

.headerName {
    composes: colName;

    border-left-color: transparent;
}

.headerStatus {
    composes: colStatus;
}

.headerOrderedBy,
.headerScheduled {
    composes: colDate;
    composes: ellipsisOverflow from layout_css;
}

.headerOrderedBy {
    opacity: 1;
    transition: opacity 0.3s linear;
}

.headerOrderedBy.blink {
    opacity: 0;
    transition: none;
}

.headerActions {
    composes: colActions;
    composes: ellipsisOverflow from layout_css;
}

.itemName {
    composes: colName;
    composes: ellipsisOverflow from layout_css;

    padding-left: calc(pad - borderWidth);
    border-left: solid borderWidth color_draft;

    color: anchor;
    font-size: 1.2em;
}

.itemNamePublished {
    composes: itemName;

    border-left-color: color_published;
}

.itemNameScheduled {
    composes: itemName;

    border-left-color: color_scheduled;
}

.itemNameUnpublished {
    composes: itemName;

    border-left-color: color_unpublished;
}

.itemStatus {
    composes: colStatus;

    color: #888;
    font-size: 0.8em;
}

.itemOrderedBy,
.itemScheduled {
    composes: colDate;

    color: #888;
    font-size: 0.8em;
}

.itemActions {
    composes: colActions;
}

.actionsPanel {
    display: flex;
    flex-direction: row-reverse;

    justify-content: center;
    align-items: center;
}

.action {
    flex: 1 1 auto;
    text-align: right;
}

.remove {
    composes: plain from buttons_css;
    composes: action;
}

.preview {
    composes: action;
}

.icon {
    composes: icon from icons_css;

    max-height: 100%;

    color: anchor;
    text-align: right;

    transition: iconTransition;
}

.icon:hover {
    color: #2F343C;

    transition: iconTransition;
}

.hidden {
    padding: 0;
    overflow: visible;
}
