@value icons_css: "../../icons.css";
@value layout_css: "./layout.css";

.container {
    composes: section from layout_css;
    
    flex: 0 0 180px;
    
    z-index: 1;
    font-size: 0.8em;
    color: #FFF;
    background: #2F343C;
}

.sep {
    border-bottom: solid 1px #222;
    box-shadow: 0 1px 0 #545454;
}

.head {
    composes: head from layout_css;
    composes: sep;

    padding: 0;
}

.heading {
    display: flex;
    align-items: center;
    flex: 1 0 auto;

    margin: 0;
    padding: 0 16px;
    font-size: 1.8em;

    text-decoration: none;
    color: inherit;
}

.heading:hover {
    background: #346;
}

.heading h1 {
    font-size: 1.4em;
    margin: 0;
}

.body {
    composes: body from layout_css;

    display: flex;

    flex-direction: column;
    flex: 1 0 auto;

    overflow-y: auto;
}

.schemas {
    composes: vertical from layout_css;
    composes: sep;

    margin: 0 0 2em;

    text-transform: uppercase;
}

.link,
.link:active,
.link:visited {
    display: block;
    
    text-decoration: none;
    color: inherit;
}

.schema {
    padding: 1em 24px 1em 16px;
}

.add,
.logout {
    composes: link;
    
    margin-bottom: 0.4em;
    padding: 0.4em 16px;
}

.add {
    composes: plain from "../../buttons.css";
}

.schema {
    opacity: 0.5;
}

.schema:hover {
    opacity: 0.8;

    background: rgba(0, 0, 0, 0.2);
}

.active,
.active:hover {
    composes: schema;

    opacity: 1;

    background: rgba(0, 0, 0, 0.4);
}

