@value icons_css: "../../icons.css";
@value layout_css: "./layout.css";

@value hover: #346;

.header_bg {
    background: #2F343C;
}

.container {
    composes: section from layout_css;
    composes: header_bg;
    
    flex: 1 1 360px;
    min-width: 180px;
    
    z-index: 1;
    font-size: 0.8em;
    color: #FFF;
    background: header_background;
}

.sep {
    border-bottom: solid 1px #222;
     box-shadow: 0 1px 0 #545454;
}

.lightsep {
    border-bottom: solid 1px rgba(171, 171, 171, 0.75);
    box-shadow: 0 1px 0 rgba(220 ,220 ,220 , 0.75);
}

.top {
    composes: head from layout_css;
    composes: sep;

    padding: 0;
}

.top:hover {
    background: hover;
}

.heading {
    display: flex;
    align-items: center;
    flex: 1 0 auto;

    margin: 0;
    /*padding: 0 16px;*/
    font-size: 1.8em;

    text-decoration: none;
    color: inherit;
}

.heading .title {
    flex: 1;
    text-align: center;
    
    font-size: 1.4em;
    margin: 0;
    padding: 0 16px;
}

.body {
    composes: body from layout_css;

    display: flex;

    flex-direction: column;
    flex: 1 0 auto;

    overflow-y: auto;
}

.schemas {
    composes: vertical from layout_css;
    composes: sep;

    margin: 0 0 2em;

    text-transform: uppercase;
}

.link,
.link:active,
.link:visited {
    display: block;
    
    text-decoration: none;
    color: inherit;
}

.add,
.logout {
    composes: link;
    
    margin-bottom: 0.4em;
    padding: 0.4em 16px;
}

.add:hover,
.logout:hover {
    background: hover;
}

.add {
    composes: plain from "../../buttons.css";
}

.schema {
    composes: link;
    
    padding: 1em 24px 1em 16px;
    opacity: 0.5;
}

.schema:hover {
    opacity: 1;

    background: hover;
}

.active,
.active:hover {
    composes: schema;

    opacity: 1;

    background: rgba(0, 0, 0, 0.4);
}

