:global(html),
:global(body) {
    width: 100%;
    height: 100%;
}

.outer {
    height: 100%;

    display: flex;

    flex-wrap: wrap;
}

.horizontal {
    display: flex;
    align-items: center;
}

.vertical {
    display: flex;
    flex-direction: column;
}

.header {
    /*composes: horizontal;*/

    justify-content: space-between;

    flex-grow: 1;
    flex-basis: 100%;
    
    background: #DDD;
}

.heading {
    flex: 1;

    font-size: 1.2em;
    margin: 0;
}

.heading a,
.heading a:active,
.heading a:visited {
    display: block;
    padding: 0.5em 1em;

    text-decoration: none;
    color: #333;
}

.heading a:hover {
    color: #CCC;
    background: #444;
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: stretch;

    font-size: 0.9em;
    color: #FFF;

    background: #441604;
}

.section {
    flex-grow: 1;
    flex-basis: 1px; /* this is stupid but prevents needing a flex container around the nav and section */

    background: #EEE;
}

.schemas {
    composes: vertical;

    flex: 4 0 50%;

    margin: 0;
    list-style: none;
}

.schema,
.schema:active,
.schema:visited {
    padding: 11px 10px;

    opacity: 0.5;

    color: inherit;
    text-decoration: none;
}

.schema:hover {
    opacity: 1;

    background: rgba(0, 0, 0, 0.4);
}

.active {
    composes: schema;

    opacity: 1;

    border-right: solid #F00 7px;

    background: rgba(0, 0, 0, 0.4);
}

.add {
    composes: color from "../../buttons.css";

    align-self: flex-end;
    background: rgb(177,173,164);
}

.progress {
    height: 10px;
    background: #EEE;
    
    position: relative;
    overflow: hidden;
}

.progress::before,
.progress::after {
    position: absolute;
    z-index: 1;
    content: "";
    
    top: 0;
    bottom: 0;
    width: 0;
    
    background: rgb(66, 184, 221);
    
    animation: progressBefore 2s linear infinite;
}

.progress::after {
    animation-name: progressAfter;
}

@keyframes progressBefore {
    0% {
        left: 0%;
        width: 0%;
    }
    
    50% {
        left: 25%;
        width: 75%;
    }
    
    75% {
        left: 100%;
        width: 0%;
    }
}

@keyframes progressAfter {
    0% {
        left: 0%;
        width: 0%;
    }
    
    50% {
        left: 0%;
        width: 0%;
    }
    
    75% {
        left: 0%;
        width: 25%;
    }
    
    100% {
        left: 100%;
        width: 0%;
    }
}
