html,
body {
    width: 100%;
    height: 100%;
}

.section {
    composes: vertical;

    width: 100%;
}

.content {
    composes: section;
    position: relative;

    flex: 1 1 100%;
}

.contentWidth {
    max-width: 1170px;
    min-width: 720px;
}

.textContentWidth {
    max-width: 850px;
    min-width: 550px;
}

.horizontal {
    display: flex;
    flex-direction: row;
}

.vertical {
    display: flex;
    flex-direction: column;
}

.container {
    composes: horizontal;

    min-height: 100%;
}


.padding {
    padding: 1em 20px;
}

.content {
    composes: padding;
}

.head {
    composes: vertical;
    composes: padding;

    justify-content: space-between;
    align-items: stretch;

    flex: 0 0 48px;

    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

.body {
    composes: vertical;

    overflow-y: auto;
}

