:global(html),
:global(body) {
    width: 100%;
    height: 100%;
}

.outer {
    min-height: 100%;

    display: flex;
    flex-flow: column wrap;
}

.horizontal {
    display: flex;
    align-items: center;
}

.vertical {
    display: flex;
    flex-direction: column;
}

.header {
    composes: horizontal;

    flex: 0 1 auto;

    color: #FFF;
    background: #2F1003;
}

.heading {
    font-size: 1.4em;
    margin: 0;
}

.heading a,
.heading a:active,
.heading a:visited {
    display: block;
    padding: 0.5em 1em;

    text-decoration: none;
    color: inherit;
}

.heading a:hover {
    background: rgba(0,0,0,0.4);
}


.section {
    display: flex;
    flex-flow: row nowrap;

    flex: 1 0 auto;

    background: #EEE;
}

.nav {
    display: flex;
    flex-flow:  column wrap;

    flex: 0 1 100px;

    font-size: 0.8em;
    color: #FFF;

    background: #441604;
}

.article {
    flex: 1 0 0;
}


.schemas {
    composes: vertical;

    flex-grow: 1;

    margin: 0;
    list-style: none;
}

.schema,
.schema:active,
.schema:visited {
    padding: 11px 10px;

    opacity: 0.5;

    color: inherit;
    text-decoration: none;
}

.schema:hover {
    opacity: 1;

    background: rgba(0, 0, 0, 0.4);
}

.active {
    composes: schema;

    opacity: 1;

    border-right: solid #F00 3px;

    background: rgba(0, 0, 0, 0.4);
}

.add {
    composes: color from "../../buttons.css";

    align-self: flex-end;
    background: rgb(177,173,164);
}

.progress {
    height: 10px;
    background: #EEE;

    position: relative;
    overflow: hidden;
}

.progress::before,
.progress::after {
    position: absolute;
    z-index: 1;
    content: "";

    top: 0;
    bottom: 0;
    width: 0;

    background: rgb(66, 184, 221);

    animation: progressBefore 2s linear infinite;
}

.progress::after {
    animation-name: progressAfter;
}

@keyframes progressBefore {
    0% {
        left: 0%;
        width: 0%;
    }

    50% {
        left: 25%;
        width: 75%;
    }

    75% {
        left: 100%;
        width: 0%;
    }
}

@keyframes progressAfter {
    0% {
        left: 0%;
        width: 0%;
    }

    50% {
        left: 0%;
        width: 0%;
    }

    75% {
        left: 0%;
        width: 25%;
    }

    100% {
        left: 100%;
        width: 0%;
    }
}
