@value icons_css: "../../icons.css";

@value small from "../../media.css";

/* Bogus rule here works around https://github.com/tivac/modular-css/issues/57 */
.fooga { }

@media small {
    .sep {
        border-bottom: solid 1px #222;
        box-shadow: 0 1px 0 #545454;
    }
}

.head {
    composes: head from "./layout.css";
    composes: sep;

    padding: 0;
}

.heading {
    /*composes: global(pure-g);*/
    display: flex;
    align-items: center;
    flex: 1 0 auto;

    margin: 0;
    padding: 0 16px;
    font-size: 1.8em;

    text-decoration: none;
    color: inherit;
}

.heading:hover {
    background: #346;
}

.heading h1 {
    font-size: 1.4em;
    margin: 0;
}

.body {
    composes: body from "./layout.css";
}

.schemas {
    composes: vertical from "./layout.css";
    composes: sep;

    margin: 0 0 2em;

    text-transform: uppercase;
}

.link,
.link:active,
.link:visited {
    display: block;
    
    padding: 1em 24px 1em 16px;
    
    text-decoration: none;
    color: inherit;
}

.schema {
    position: relative;
    
    opacity: 0.5;
}

.schema:hover {
    opacity: 0.8;

    background: rgba(0, 0, 0, 0.2);
}

.edit {
    position: absolute;
    
    top: 0;
    right: 4px;
    bottom: 0px;
    
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    
    opacity: 0;
    
    color: #BBB;
    
    color: inherit;
}

.schema:hover .edit {
    opacity: 0.75;
}

.active .edit,
.active:hover .edit {
    opacity: 1;
}

.editIcon {
    composes: icon from icons_css;
}

.active,
.active:hover {
    composes: schema;

    opacity: 1;

    background: rgba(0, 0, 0, 0.4);
}

.add,
.logout {
    composes: link;
    
    margin-bottom: 0.4em;
    padding: 0.4em 16px;
}
