@import "../../../node_modules/codemirror/lib/codemirror.css";

@value layout_css:  "../layout/layout.css";
@value flex_css: "../../flex.css";

@value pad from "../layout/layout.css";

.schemaEdit {
    composes: hbox from flex_css;
}

.schema {
    flex: 0 0 50%;
}

.preview {
    composes: global(pure-form), global(pure-form-stacked);

    flex: 0 0 50%;
    padding-left: pad;
}

.error {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    margin: 0;
    padding: 5px;

    background: red;
    color: whitesmoke;
}

.editor {
    composes: input from "../../form.css";

    min-height: 360px;

    background: #fff;
}

/* Override codemirror styling to make it expannnnd */
:global(.CodeMirror) {
    height: auto;
}

.details {
    composes: global(pure-form);
    margin-top: pad;
}

.slug {
    margin-left: pad;
    transform: scale(1.2);
}

.url {
    composes: hbox from flex_css;

    flex-wrap: wrap;
    margin-top: pad;
}

.urlInputPreview {
    flex: 1 0 auto;
    margin-left: pad;
}

.urlInput {
    width: 100%;
}

/* specificity with Pure */
.urlInputError {
    color: #b94a48;
    border-color: #e9322d !important;
}

.previewUrl {
    flex: 0 0 100%;
    font-style: italic;
    font-size: 80%;
    color: #666;
}
