.block {
    display: block;
}

.group {
    composes: global(pure-control-group);
}

.field {
    margin: 10px;
}

.first {
    composes: field;
    margin-top: 0;
}

.label {
    composes: block;
    
    font-weight: bold;
}

.required {
    composes: label;

    color: red;
}

.input,
.select {
    composes: block;
}
