@value   icons_css: "../icons.css";
@value buttons_css: "../buttons.css";

@value radius: 2px;

.container {
    display: flex;
    flex-direction: column;
    
    border: 1px solid #CCC;
    border-radius: radius;
    
    padding: 10px;
}

.add {
    composes: add from buttons_css;
    
    margin-top: 10px;
    width: 30%;
    
    align-self: center;
}

.child {
    display: flex;
    flex-direction: row;
    
    flex: 1;
    
    padding: 5px 10px 5px 5px;
    
    border-radius: radius;
}

.child + .child {
    margin-top: 10px;
}

.child:nth-child(2n) {
    background: rgba(0, 0, 0, 0.05);
}

.first {
    composes: child;
}

.meta {
    flex: 0 0 20px;
    
    padding-top: 8px;
    margin-right: 10px;
}

.counter {
    margin: 0;
    
    text-align: center;
    font-weight: bold;
}

.fields {
    flex: 1;
}

.icon {
    composes: icon from icons_css;
}

.remove {
    composes: plain from buttons_css;
}

