.nav {
    display: flex;
    flex-direction: row;

    list-style-type: none;

    margin: 0;
    padding: 0;
}

.item {
    flex: 0 0 auto;

    padding: 10px 20px;

    border: 1px solid #CCC;

    text-decoration: none;

    color: #101010;
}

.item:hover {
    background: #EEE;
}

.tab {
    composes: item;

    border-bottom: 0;
    border-right: 0;
}

.tab:last-child {
    border-right: 1px solid #CCC;
}

.activetab {
    composes: item;

    border-color: #777;

    background: #BCBCBC;
    font-weight: bold;
}

.body {
    border: 1px solid #CCC;
    padding: 20px;

    display: none;
}

.activebody {
    composes: body;

    display: block;
}
