.field {
    composes: field from "./lib/types.css";
    composes: global(pure-menu), global(pure-menu-horizontal);
}

.first {
    composes: first from "./lib/types.css";
    composes: field;
}

.nav {
    display: flex;
    flex-direction: row;

    list-style-type: none;

    margin: 0;
    padding: 0;
}

.item {
    flex: 0 0 auto;

    padding: 10px 20px;

    border: 1px solid #CCC;

    text-decoration: none;

    color: #101010;
}

.item:hover {
    background: #EEE;
}

.inactive {
    composes: item;

    border-bottom: 0;
    border-right: 0;
}

.inactive:last-child {
    border-right: 1px solid #CCC;
}

.active {
    composes: item;

    border-color: #777;

    background: #BCBCBC;
    font-weight: bold;
}

.contents {
    border: 1px solid #CCC;
    padding: 0 20px 20px;

    display: none;
}

.contents-active {
    composes: contents;

    display: block;
}
