/* technique from http://alistapart.com/article/expanding-text-areas-made-elegant */
.expander {
    position: relative;
    max-height: 600px;
    min-height: 50px;
}

.child {
    margin: 0;
    padding: 5px;
    
    background: transparent;

    /* Make the text soft-wrap */
    white-space: pre-wrap;
    word-wrap: break-word;
}

.textarea {
    composes: child;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    /* Remove WebKit user-resize widget */
    resize: none;
}

.shadow {
    composes: child;

    /* Hide the text; just using it for sizing */
    visibility: hidden;
    
    /* Unfortunately these have to be copied out of pure */
    margin: 0.25em 0;
    padding: 0.5em 0.6em;
}
