.group {
    composes: global(pure-control-group);
}

.field {
    margin-top: 20px;
}

.first {
    composes: field;
    
    margin-top: 0;
}

.label {
    font-weight: bold;
}

.required {
    composes: label;

    color: red;
}
