@value flex_css:    "../flex.css";
@value icons_css:   "../icons.css";
@value buttons_css: "../buttons.css";

@keyframes flash {
    to {
        background-color: rgba(0, 0, 0, 0.3);
    }
}

.target {
    composes: hbox from flex_css;
    composes: input from "../form.css";
    
    min-height: 100px;
    background: rgba(0, 0, 0, 0.05);
}

.highlight {
    composes: target;
    
    animation: flash 0.5s ease-in-out infinite alternate;
}

.instructions {
    text-align: center;
    
    flex: 1;
}

.queue {
    padding: 0;
    margin: 0;
    
    flex: 1;
}

.queued {
    composes: hbox from flex_css;
    
    list-style: none;
    
    padding: 10px;
}

.queued + .queued {
    margin-top: 10px;
}

.queued:nth-child(2n) {
    background: rgba(0, 0, 0, 0.2);
}

.image {
    width: 200px;
}

.img {
    width: 100%;   
    min-height: 25px;
    max-height: 100px;
    
    object-fit: contain;
    object-position: 50% 0;
}

.meta {
    composes: vbox from flex_css;
    
    flex: 1;
    
    margin-left: 20px;
}

.name {
    margin: 0;
}

.actions {
    composes: vbox from flex_css;
}

.remove {
    composes: plain from buttons_css;
}

.icon {
    composes: icon from icons_css;
}
