@value buttons_css: "../buttons.css";

/* Metadata controls */
.metas {
    composes: head from "./layout/layout.css";
}

.meta {
}

.addMeta {
    composes: meta;
}

.editMeta {
    composes: meta;

    text-align: right;
}

.add {
    composes: add from buttons_css;
}

.edit {
    composes: button from buttons_css;
}
.body {
    composes: body from "./layout/layout.css";
}