@import "../../node_modules/codemirror/lib/codemirror.css";
@value icons_css: "../icons.css";

.actions {
    composes: menuItem;
    
    display: flex;

    justify-content: space-between;
    align-items: center;
}

.action {
    composes: icon from icons_css;

    color: #000;
    transition: color 0.1s ease-in;
}

.preview {
    composes: action;
}

.heading {
    composes: global(pure-g);

    text-align: center;
    justify-content: center;
}

.title,
.schema {
    composes: global(pure-u);

    padding: 0.15em;
}

.title {
    min-width: 50px;

    padding-left: 0.5em;
    padding-right: 0.5em;

    /* Stolen from pure's input element styling */
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
}

.menu {
    composes: global(pure-g);

    padding-bottom: 5px;
    border-bottom: 1px solid #666;
    margin-bottom: 10px;
}

.menuItem {
    composes: global(pure-u-1-3);

    padding: 0 5px;
}

.publishing {
    composes: menuItem;
}

.version {
    composes: menuItem;

    text-align: right;
}

.form {
    composes: global(pure-form), global(pure-form-stacked);

    width: 70%;
    min-width: 700px;
    max-width: 1000px;

    margin: 20px auto;
}
