<<<<<<< HEAD
@import "../../node_modules/codemirror/lib/codemirror.css";

.heading {
    composes: global(pure-g);
    
    text-align: center;
    justify-content: center;
=======
.editable {
    border-bottom: solid 2px #930;
    background: #EEE;
}

.editable:hover {
    border-bottom-color: #B40;
    background: #FBFBFB;
}
.editable:focus {
    background: #FFF;
    outline: none;
    border-bottom-color: #D60;
>>>>>>> origin/presentation
}

.title,
.schema {
<<<<<<< HEAD
    composes: global(pure-u);
    
    padding: 0.15em;
}

.title {
    min-width: 50px;
    
    padding-left: 0.5em;
    padding-right: 0.5em;
    
    /* Stolen from pure's input element styling */
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
=======
    margin: 0;

    font-size: 0.9em;
    font-weight: normal;
    text-transform: uppercase;
    color: #999;
}

.title {
    composes: editable;

    margin-top: 0;
>>>>>>> origin/presentation
}

.menu {
    composes: global(pure-g);

    padding-bottom: 5px;
    border-bottom: 1px solid #666;
    margin-bottom: 10px;
}

.menuItem {
    composes: global(pure-u-1-2);
}

.publishing {
    composes: menuItem;
}

.version {
    composes: menuItem;

    text-align: right;
}

.form {
    composes: global(pure-form), global(pure-form-stacked);

    width: 100%;

    margin: 20px auto;
}
