@import "../../node_modules/codemirror/lib/codemirror.css";
@value icons_css: "../icons.css";

.body {
    composes: body from "./layout/layout.css";
}

.empty {
    composes: body;
    
    text-align: center;
    justify-content: center;
    align-content: center;    
}

.empty p {
    color: #666;
}

.heading {
    composes: global(pure-g);

    text-align: center;
    justify-content: center;
}

.schema {
    margin: 0;
    color: #CCC;
    font-size: 1em;
    font-weight: normal;
}

.title {
    margin: 0;
    border: solid 1px transparent;
    border-bottom: solid 2px #68A;
}

.title:hover {
    border-color: #DDD;
    border-bottom-color: #68A;
}

.title:focus {
    outline: none;
    border-color: #BBB;
    border-bottom-color: #68A;
}

.menu {
    composes: head from "./layout/layout.css";
}

.item {
    composes: global(pure-u-1-2);
}

.actions {
    composes: item;
    
    display: flex;

    justify-content: space-between;
    align-items: center;
}

.action {
    composes: icon from icons_css;

    color: #000;
    transition: color 0.1s ease-in;
}

.preview {
    composes: action;
}

.publishing {
    composes: item;
}

.version {
    composes: item;

    text-align: right;
}

.form {
    composes: global(pure-form), global(pure-form-stacked);

    width: 100%;
    max-width: 1000px;

    margin: 20px auto;
}
