/* Table styling */
.table {
    composes: global(pure-table), global(pure-table-horizontal), global(pure-table-striped);
    
    width: 100%;
}

.namecol {
    width: 60%;
}

.datecol {
    width: 150px;
}

.metacol {
    width: 120px;
}

.th {
    cursor: pointer;
    
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.actions {
    display: flex;
    
    align-items: center;
}

.action {
    composes: icon from "../icons.css";
    
    color: #000;
    transition: color 0.1s ease-in;

    margin-right: 5px;
}

.action:hover {
    color: rgb(0, 120, 231);
    transition: color 0.1s ease-in;
}

.preview,
.restoreIcon {
    composes: action;
}

.restore {
    /* Strip <button> styling */
    background: none;
    outline: none;
    border: 0;
    padding: 0;
}
