@import "../../node_modules/codemirror/lib/codemirror.css";

.body {
    composes: body from "./layout/layout.css";
}
.meta {
    composes: global(pure-form), global(pure-form-stacked);
}

.label {
    font-weight: bold;
}

.preview {
    width: 100%;
}

.note {
    font-style: italic;
    font-size: 80%;
    color: #666;
}

.contents {
    composes: global(pure-g);

    flex: 4;
    overflow-y: auto;
}

.panes {
    composes: global(pure-u-1-2);
}

.editor {
    composes: panes;
}

.fields {
    composes: panes, global(pure-form), global(pure-form-stacked);

    padding: 0 10px 10px 10px;
}

/* Override codemirror styling to make it expannnnd */
:global(.CodeMirror) {
    height: 100%;
}
