@import "../../node_modules/codemirror/lib/codemirror.css";

@value flexCss: "../flex.css";

.body {
    composes: body from "./layout/layout.css";
}

.meta {
    /* ??? */
}

.sections {
    composes: hbox from flexCss;
}

.section {
    composes: global(pure-form), global(pure-form-stacked);
    
    flex: 1;
    
    padding-right: 10px;
}

.section + .section {
    padding-left: 10px;
}

.label {
    font-weight: bold;
}

.preview {
    width: 100%;
}

.note {
    font-style: italic;
    font-size: 80%;
    color: #666;
}

.contents {
    composes: hbox from flexCss;
    
    flex: 4;
    overflow-y: auto;
}

.panes {
    flex: 1;
}

.editor {
    composes: panes;
}

.fields {
    composes: panes, global(pure-form), global(pure-form-stacked);

    padding: 0 10px 10px 10px;
}

.error {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    
    margin: 0;
    padding: 5px;
    
    background: red;
    color: whitesmoke;
}

/* Override codemirror styling to make it expannnnd */
.editor :global(.CodeMirror) {
    composes: input from "../form.css";
    
    height: 100% !important;
}
