@value pad from "./layout/layout.css";

.form {
    composes: global(pure-form);
}

.row {
    margin-bottom: pad;
}

.label {
    display: inline-block;
    min-width: 60px;
}

.add {
    composes: primary from "../buttons.css";
}
