:global(html),
:global(body) {
    width: 100%;
    height: 100%;
}

.page {
    display: flex;
    flex-direction: column;
    
    width: 100%;
    height: 100%;
}

.meta {
    flex: 1 0 0%;
}

.contents {
    composes: global(pure-g);
    
    flex: 4;
    overflow-y: auto;
}

.panes {
    composes: global(pure-u-1-2);
}

.editor {
    composes: panes;
}

.headings {
    composes: global(pure-u-1);
}

.fieldsHd,
.previewHd {
    composes: global(pure-u-1-2);
}

.fields {
    composes: panes, global(pure-form), global(pure-form-stacked);

    padding: 0 10px 10px 10px;
}

/* Override codemirror styling to make it expannnnd */
:global(.CodeMirror) {
    height: 100%;
}
