.table {
    composes: global(pure-table), global(pure-table-horizontal), global(pure-table-striped);
    
    width: 100%;
}

.delete {
    composes: global(pure-button);
    
    color: white;
    background: rgb(202, 60, 60);
    
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
