@value buttons_css: "../../buttons.css";

.metas {
    composes: global(pure-g);
    
    justify-content: space-between;
    
    margin: 5px 0;
}

.meta {
    composes: global(pure-u);
    
    padding: 0 5px;
}

.searchMeta {
    composes: meta;
}

.addMeta {
    composes: meta;
}

.editMeta {
    composes: meta;
    
    width: 50%;
    text-align: right;
}

.remove {
    composes: remove from buttons_css;
}

.add {
    composes: add from buttons_css;
}

.edit {
    composes: button from buttons_css;
}

.table {
    composes: global(pure-table), global(pure-table-horizontal), global(pure-table-striped);
    
    width: 100%;
}

.pagination {
    composes: global(pure-g);
    
    margin: 5px;
    
    text-align: center;
    justify-content: center;
}

.link {
    composes: global(pure-u), button from buttons_css;
    
    margin: 0 5px;
}

.disabled {
    composes: link, global(pure-button-disabled);
}

.arrow {
    composes: link, global(pure-button-primary);
}
