@value buttons_css: "../../buttons.css";

/* Utility */
.icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    
    margin-top: -2px;
    
    fill: currentColor;
}

/* Table styling */
.table {
    composes: global(pure-table), global(pure-table-horizontal), global(pure-table-striped);
    
    width: 100%;
}

.namecol {
    width: 60%;
}

.datecol {
    width: 150px;
}

.metacol {
    width: 120px;
}

.th {
    cursor: pointer;
    
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.actions {
    display: flex;
    
    justify-content: space-between;
    align-items: center;
}

.action {
    composes: icon;
    
    color: #000;
    transition: color 0.1s ease-in;
}

.action:hover {
    color: rgb(0, 120, 231);
    transition: color 0.1s ease-in;
}

.edit,
.preview,
.removeIcon {
    composes: action;
}

.remove {
    /* Strip <button> styling */
    background: none;
    outline: none;
    border: 0;
    padding: 0;
}

/* Table Nav */
.nav {
    composes: global(pure-g);

    margin: 15px;
}

.searching {
    composes: global(pure-u-1-3);

    text-align: center;
    justify-content: center;

    padding: 3px 0 0;
}

.search {
    width: 90%;
    padding: 2px;
}

/* Pagination controls */
.pagination {
    composes: global(pure-u-2-3);

    display: flex;
}

.link {
    composes: button from buttons_css;

    margin: 0 5px;
    height: 31px;
}

.disabled {
    composes: link, global(pure-button-disabled);
}

.pagebutton {
    composes: link, global(pure-button-primary);
}

.pagebutton svg {
    color: #FFF;
}

.prev svg {
    composes: pagebutton;

    transform: rotate(180deg);
}

.next {
    composes: pagebutton;
}

.noPrev {
    composes: prev, disabled;
}

.noNext {
    composes: next, disabled;
}
