:global(html),
:global(body) {
    width: 100%;
    height: 100%;
}

.page {
    display: flex;
    flex-direction: column;
    
    width: 100%;
    height: 100%;
}

.meta {
    flex: 1 0 0%;
}

.contents {
    flex: 4;

    display: flex;
    flex-direction: row;

    overflow-y: auto;
}

.panes {
    flex: 1;
}

.editor {
    composes: panes;
}

.fields {
    composes: panes;

    padding: 0 10px 10px 10px;
}

/* Override codemirror styling to make it expannnnd */
:global(.CodeMirror) {
    height: 100%;
}
