@value colorRemove: rgb(202, 60, 60);
@value    colorAdd: rgb(28, 184, 65);

.button {
    composes: global(pure-button);
}

.color {
    composes: button;
    
    color: #FFF;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.primary {
    composes: button, global(pure-button-primary);
}

.add {
    composes: color;
    
    background: colorAdd;
}

.remove {
    composes: color;
    
    background: colorRemove;
}

/* Strip <button> styling */
.plain {
    background: none;
    outline: none;
    border: 0;
    padding: 0;
}
