@value colorRemove:    rgb(202,  60, 60);
@value colorAdd:       rgb(28,  184, 65);
@value colorWarn:      rgb(223, 117, 20);
@value colorSecondary: rgb(66, 184, 221);

.button {
    composes: global(pure-button);

    background-color: #D8D8D8;
}

.color {
    composes: button;

    color: #FFF;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.primary {
    composes: global(pure-button), global(pure-button-primary);
}

.add {
    composes: color;

    background: colorAdd;
}

.remove {
    composes: color;

    background: colorRemove;
}

.warn {
    composes: color;

    background: colorWarn;
}

.secondary {
    composes: color;

    background: colorSecondary;
}

/* Strip <button> styling */
.plain {
    text-align: left;

    background: none;
    outline: none;
    border: 0;
    padding: 0;
}

/* Act like .pure-button */
.plain[disabled] {
    cursor: not-allowed;
}
