/* TODO: remove when all references are removed */
.icon {
    display: inline-block;
    vertical-align: bottom;

    width: 20px;
    height: 20px;

    fill: currentColor;
}

svg {
    display: inline-block;
    vertical-align: bottom;

    width: 20px;
    height: 20px;

    fill: currentColor;
}

/* Placeholder for SVG parents so they can use the rule below */
.button {}

.button svg {
    margin-right: 5px;
}

/* Placeholder for SVG parents */
.iconOnly {}
