@value layout_css:  "../layout/layout.css";
@value icons_css:   "../../icons.css";
@value buttons_css: "../../buttons.css";

.content {
    composes: section from layout_css;
    position: relative;

    flex: 1 1 100%;
}

.head {
    composes: head from layout_css;
    
    flex-direction: row;
    
    padding-left: 10px;
    padding-right: 10px;
    
    align-items: center;
}

.body {
    composes: body from layout_css;
    composes: contentWidth from layout_css;

    padding-bottom: 5em;
}


.contentsContainer {
    composes: textContentWidth from layout_css;
    composes: padding from layout_css;

    width: 100%;
}

.itemStatus {
    margin-bottom: 1em;
}

.statusLabel {
    font-weight: 600;
}
.status {
    margin: 0;

    border-bottom: solid 3px;
}

.draft {
    composes : status;

    border-color: #ddd;
}
.published {
    composes : status;

    border-color: green;
}
.scheduled {
    composes : status;

    border-color: orange;
}

.form {
    composes: global(pure-form), global(pure-form-stacked);

    width: 100%;
}

/* No item selected */
.empty {
    composes: content;
    
    text-align: center;
    justify-content: center;
    align-content: center;
}

.empty p {
    color: #666;
}

/* Actions bar */
.action {
    flex: 1 1;
}

.save {
    composes: primary from buttons_css;
    
    margin-left: 10px;
}

.icon {
    composes: button from icons_css;
}

/* Title */
.schema {
    margin: 0;
    color: #CCC;
    font-size: 1em;
    font-weight: normal;
}

.title {
    margin: 0;
    padding: 2px 5px 0 5px;
    
    border: solid 1px transparent;
    border-bottom: solid 2px #68A;
}

.title:hover {
    border-color: #DDD;
    border-bottom-color: #68A;
}

.title:focus {
    outline: none;
    border-color: #BBB;
    border-bottom-color: #68A;
}

/* Form contents */

.children {
    margin-top: 20px;
}


/* Had a specificity war with pure-css */
input.highlightInvalid:invalid,
textarea.highlightInvalid:invalid {
    background: #f5cecd;
    border-color: #e9322d;
    color: black;
}
