@value layout_css:  "../layout/layout.css";
@value icons_css:   "../../icons.css";
@value buttons_css: "../../buttons.css";

@value color_draft: #ddd;
@value color_scheduled: orange;
@value color_published: green;
@value color_unpublished: red;


.head {
    composes: head from layout_css;
    
    flex-direction: row;
    
    padding-left: 10px;
    padding-right: 10px;
    
    align-items: center;
}

.body {
    composes: body from layout_css;
    composes: contentWidth from layout_css;

    padding-bottom: 5em;
}

.contentsContainer {
    composes: textContentWidth from layout_css;
    composes: padding from layout_css;

    width: 100%;
}

.itemStatus {
    margin-bottom: 1em;
}

.statusLabel {
    font-weight: 600;
}

.status {
    margin: 0;
}

.form {
    composes: global(pure-form), global(pure-form-stacked);

    width: 100%;
}

/* No item selected */
.empty {
    composes: content from layout_css;

    text-align: center;
    justify-content: center;
    align-content: center;
}

.empty p {
    color: #666;
}

/* Actions bar */
.action {
    flex: 1 1;
}

.save {
    composes: primary from buttons_css;

    margin-left: 10px;
}

.icon {
    composes: button from icons_css;
}

/* Title */
.schema {
    margin: 0;
    color: #CCC;
    font-size: 1em;
    font-weight: normal;
}

/* Form contents */

.children {
    margin-top: 20px;
}

/* Inputs
    * Specificity war with `pure-css` */
input[type=text].title {
    margin: 0;
    padding: 2px 5px 0 5px;

    border: none;
    border-bottom: solid 3px #68A;
    border-radius: 0;
    box-shadow: none;
    font-size: 2em;
    padding: 0;
    width: 100%;
}

input[type=text].title:hover {
    border-color: #DDD;
    border-bottom-color: #68A;
}

input[type=text].title:focus {
    outline: none;
    border-color: #BBB;
    border-bottom-color: #68A;
}

input[type=text].draft {
    composes: title;

    border-color: color_draft;
}

input[type=text].published {
    composes: title;

    border-color: color_published;
}

input[type=text].scheduled {
    composes: title;

    border-color: color_scheduled;
}

input[type=text].unpublished {
    composes: title;

    border-color: color_unpublished;
}
