@value icons_css: "../../icons.css";
@value layout_css: "../layout/layout.css";
@value flex_css: "../../flex.css";
@value buttons_css: "../../buttons.css";

.contentHd {
    composes: head from layout_css;
    composes: lightSep from layout_css;
}

.main {
    composes: textContentWidth from layout_css;

    display: flex;
    flex-flow: row nowrap;
    position: relative;
    width: 100%;

    align-items: center;
}

.details {
    composes: global(pure-g);

    position: absolute;
    top: 42px;
    right: 0;
    z-index: 10; /* Ensure schedule box is above content. */
    
    padding: 20px;
    width: 75%;

    border: 1px solid #CCC;
    border-top: 0;
    background: #FFF;
    text-align: left;

    transform-origin: top center;
    animation: expandReveal 0.15s linear;
}

@keyframes expandReveal {
    0% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(1);
    }
}

.headButton {
    margin-left: 10px;
}

.actions {
    overflow: hidden;
}

.publishContainer,
.unpublish,
.back,
.save {
    max-width: 50%;
}

.actions {
    flex: 0 0 40%;
}

.publishing {
    flex: 0 0 60%;
    text-align: right;
}

.controls {
    flex: 1 1 25%;
    justify-content: flex-start;
}

.actions,
.publishing {
    composes: hbox from flex_css;

    align-items: center;
}

.publishing {
    justify-content: flex-end;
}

.actions {
    justify-content: flex-start;
}

.save {
    composes: primary from buttons_css;
    composes: button from icons_css;
    composes: headButton;
}

.schedule {
    composes: color from buttons_css;
    composes: iconOnly from icons_css;
    composes: headButton;

    background-color: teal;
}

.scheduleInvalid {
    composes: schedule;
}

.scheduleInvalid svg {
    fill: red;
}

.publish {
    composes: add from buttons_css;
    composes: button from icons_css;
    composes: headButton;
}

.unpublish {
    composes: remove from buttons_css;
    composes: button from icons_css;
    composes: headButton;
}

.publishContainer {
    position: relative;
}

.icon {
    composes: button from icons_css;
}

.back {
    composes: icon;
    composes: warn from buttons_css;
}

.back svg {
    transform: rotate(180deg);
}

.start,
.end {
    composes: global(pure-u-1-2);
}

.invalidDate {
    border: thin solid #E61010;
    color: #E61010;
}

.clearSchedule {
    composes: button from buttons_css;

    background: #AFAFAF;
    border: none;
    color: #FFF;
    text-transform: capitalize;
    text-decoration: none;
}

.clearSchedule:hover {
    background: #8F8F8F;
    text-decoration: none;
}

.clearSchedule:disabled {
    display: none;
}
