@value layout_css:  "../layout/layout.css";
@value icons_css:   "../../icons.css";
@value buttons_css: "../../buttons.css";

.form {
    composes: global(pure-form), global(pure-form-stacked);
    composes: section from layout_css;

    flex: 2 0 400px;
}

.head {
    composes: head from layout_css;
    
    flex-direction: row;
    
    padding-left: 10px;
    padding-right: 10px; 
    
    align-items: center;
}

.body {
    composes: body from layout_css;
    composes: padding from layout_css;
}

/* No item selected */
.empty {
    composes: form;
    
    text-align: center;
    justify-content: center;
    align-content: center;    
}

.empty p {
    color: #666;
}

/* Actions bar */
.action {
    flex: 1 1;
}

.save {
    composes: primary from buttons_css;
    
    margin-left: 10px;
}

.icon {
    composes: button from icons_css;
}

/* Title */
.title {
    margin: 0;
    padding: 2px 5px 0 5px;
    
    border: 1px solid transparent;
    border-bottom: solid 2px #68A;
}

.title:hover {
    border-color: #DDD;
    border-bottom-color: #68A;
}

.title:focus {
    outline: none;
    
    border-color: #BBB;
    border-bottom-color: #68A;
}

.slug {
    opacity: 0.5;
    
    transition: opacity 0.2s ease-in;
}

.slug:hover,
.slug:focus {
    opacity: 1;
    
    transition: opacity 0.2s ease-out;
}

/* Form contents */
.children {
    margin-top: 15px;
}
