@value icons_css: "../../icons.css";
@value layout_css: "../layout/layout.css";
@value anchor: #446;
@value iconTransition: color 0.2s ease-in;
@value colorRemove from "../../buttons.css";

.nav {
    composes: nav from layout_css;
}

.filter {
    composes: head from layout_css;
    composes: global(pure-form);

    overflow: hidden;
    position: relative;
}

.text {
    width: 100%;
}

.hide {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;

    padding: 0 8px;

    cursor: pointer;
    background: #2F343C;
    color: white;
}

.hide:hover {
    left: auto;
    right: 0;
}

.hide::before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;

    right: 100%;

    border: solid 23.5px transparent;
    border-right: solid 12px #2F343C;
}

.show {
    composes: hide;
    left: auto;
    right: 0;
}

.show:hover {
    right: auto;
    left: 0;
}

.show::before {
    right: auto;
    left: 100%;

    border: solid 23.5px transparent;
    border-left: solid 12px #2F343C;
}

.body {
    composes: body from layout_css;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.item, .active {
    position: relative;

    padding: 0;
    border-bottom: solid 1px #CCC;
}

.published {
    composes: item;

    border-left: solid 4px #68A;
}

.anchor {
    display: block;
    padding: 1em 26px 1em 20px;

    text-decoration: none;
    color: anchor;
}

.published .anchor {
    padding-left: 16px;
}

.anchor:hover {
    background: #DFDFDF;
}

.active .anchor,
.active .anchor:hover {
    background: #FFF;
}

.heading {
    margin: 0 0 0.2em;
}

.date {
    margin: 0 0 0.4em;

    color: #888;
    font-size: 0.8em;
}

.excerpt {
    margin: 0;

    font-size: 0.8em;
}

.actions {
    position: absolute;

    top: 0;
    right: 4px;
    bottom: 0;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.action {
    composes: icon from icons_css;

    color: anchor;
    transition: iconTransition;
}

.action:hover {
    color: #2F343C;

    transition: iconTransition;
}

.preview {}

.previewIcon {
    composes: action;
}

.remove {
    /* Strip <button> styling */
    background: none;
    outline: none;
    border: 0;
    padding: 0;
}

.removeIcon {
    composes: action;

    /* work-around for https://github.com/tivac/modular-css/issues/56 */
    background: transparent;
}

.removeIcon:hover {
    color: colorRemove;
}

.hidden {
    composes: nav;
    overflow: visible;
    flex: 0 1 0;
}

.hidden .filter {
    padding: 0;
    overflow: visible;
}
